:root {
  --cor1: #ffffff;
  --cor2: #f7f7f7;
  --cor3: #ededed;
  --cor4: #dedede;
  --cor5: #cccccc;
  --cor6: #b2b2b2;
  --cor7: #9c9c9c;
  --cor8: #717171;
  --cor9: #595959;
  --cor10: #404040;
  --cor11: #2e2e2e;
  --cor12: #000000;
  --corp1: #a0ad55;
  --corp2: #34530c;
  --corp3: #202d0f;
}
.cor1 {
  color: var(--cor1);
}
.cor2 {
  color: var(--cor2);
}
.cor3 {
  color: var(--cor3);
}
.cor4 {
  color: var(--cor4);
}
.cor5 {
  color: var(--cor5);
}
.cor6 {
  color: var(--cor6);
}
.cor7 {
  color: var(--cor7);
}
.cor8 {
  color: var(--cor8);
}
.cor9 {
  color: var(--cor9);
}
.cor10 {
  color: var(--cor10);
}
.cor11 {
  color: var(--cor11);
}
.cor12 {
  color: var(--cor12);
}
.corp1 {
  color: var(--corp1);
}
.corp2 {
  color: var(--corp2);
}
.corp3 {
  color: var(--corp3);
}
